<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tom.demo.dao.ModuleMapper" >
  <resultMap id="BaseResultMap" type="com.tom.demo.model.Module" >
    <id column="module_id" property="module_id" jdbcType="INTEGER" />
    <result column="module_name" property="module_name" jdbcType="VARCHAR" />
    <result column="module_url" property="module_url" jdbcType="VARCHAR" />
    <result column="parent_id" property="parent_id" jdbcType="INTEGER" />
    <result column="leaf" property="leaf" jdbcType="INTEGER" />
    <result column="expanded" property="expanded" jdbcType="INTEGER" />
    <result column="display_index" property="display_index" jdbcType="INTEGER" />
    <result column="is_display" property="is_display" jdbcType="INTEGER" />
    <result column="en_module_name" property="en_module_name" jdbcType="VARCHAR" />
    <result column="icon_css" property="icon_css" jdbcType="VARCHAR" />
    <result column="information" property="information" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    module_id, module_name, module_url, parent_id, leaf, expanded, display_index, is_display, 
    en_module_name, icon_css, information
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from base_modules
    where module_id = #{module_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from base_modules
    where module_id = #{module_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tom.demo.model.Module" >
    insert into base_modules (module_id, module_name, module_url, 
      parent_id, leaf, expanded, 
      display_index, is_display, en_module_name, 
      icon_css, information)
    values (#{module_id,jdbcType=INTEGER}, #{module_name,jdbcType=VARCHAR}, #{module_url,jdbcType=VARCHAR}, 
      #{parent_id,jdbcType=INTEGER}, #{leaf,jdbcType=INTEGER}, #{expanded,jdbcType=INTEGER}, 
      #{display_index,jdbcType=INTEGER}, #{is_display,jdbcType=INTEGER}, #{en_module_name,jdbcType=VARCHAR}, 
      #{icon_css,jdbcType=VARCHAR}, #{information,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tom.demo.model.Module" >
    insert into base_modules
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="module_id != null" >
        module_id,
      </if>
      <if test="module_name != null" >
        module_name,
      </if>
      <if test="module_url != null" >
        module_url,
      </if>
      <if test="parent_id != null" >
        parent_id,
      </if>
      <if test="leaf != null" >
        leaf,
      </if>
      <if test="expanded != null" >
        expanded,
      </if>
      <if test="display_index != null" >
        display_index,
      </if>
      <if test="is_display != null" >
        is_display,
      </if>
      <if test="en_module_name != null" >
        en_module_name,
      </if>
      <if test="icon_css != null" >
        icon_css,
      </if>
      <if test="information != null" >
        information,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="module_id != null" >
        #{module_id,jdbcType=INTEGER},
      </if>
      <if test="module_name != null" >
        #{module_name,jdbcType=VARCHAR},
      </if>
      <if test="module_url != null" >
        #{module_url,jdbcType=VARCHAR},
      </if>
      <if test="parent_id != null" >
        #{parent_id,jdbcType=INTEGER},
      </if>
      <if test="leaf != null" >
        #{leaf,jdbcType=INTEGER},
      </if>
      <if test="expanded != null" >
        #{expanded,jdbcType=INTEGER},
      </if>
      <if test="display_index != null" >
        #{display_index,jdbcType=INTEGER},
      </if>
      <if test="is_display != null" >
        #{is_display,jdbcType=INTEGER},
      </if>
      <if test="en_module_name != null" >
        #{en_module_name,jdbcType=VARCHAR},
      </if>
      <if test="icon_css != null" >
        #{icon_css,jdbcType=VARCHAR},
      </if>
      <if test="information != null" >
        #{information,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tom.demo.model.Module" >
    update base_modules
    <set >
      <if test="module_name != null" >
        module_name = #{module_name,jdbcType=VARCHAR},
      </if>
      <if test="module_url != null" >
        module_url = #{module_url,jdbcType=VARCHAR},
      </if>
      <if test="parent_id != null" >
        parent_id = #{parent_id,jdbcType=INTEGER},
      </if>
      <if test="leaf != null" >
        leaf = #{leaf,jdbcType=INTEGER},
      </if>
      <if test="expanded != null" >
        expanded = #{expanded,jdbcType=INTEGER},
      </if>
      <if test="display_index != null" >
        display_index = #{display_index,jdbcType=INTEGER},
      </if>
      <if test="is_display != null" >
        is_display = #{is_display,jdbcType=INTEGER},
      </if>
      <if test="en_module_name != null" >
        en_module_name = #{en_module_name,jdbcType=VARCHAR},
      </if>
      <if test="icon_css != null" >
        icon_css = #{icon_css,jdbcType=VARCHAR},
      </if>
      <if test="information != null" >
        information = #{information,jdbcType=VARCHAR},
      </if>
    </set>
    where module_id = #{module_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tom.demo.model.Module" >
    update base_modules
    set module_name = #{module_name,jdbcType=VARCHAR},
      module_url = #{module_url,jdbcType=VARCHAR},
      parent_id = #{parent_id,jdbcType=INTEGER},
      leaf = #{leaf,jdbcType=INTEGER},
      expanded = #{expanded,jdbcType=INTEGER},
      display_index = #{display_index,jdbcType=INTEGER},
      is_display = #{is_display,jdbcType=INTEGER},
      en_module_name = #{en_module_name,jdbcType=VARCHAR},
      icon_css = #{icon_css,jdbcType=VARCHAR},
      information = #{information,jdbcType=VARCHAR}
    where module_id = #{module_id,jdbcType=INTEGER}
  </update>
</mapper>