<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tom.demo.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.tom.demo.model.Role" >
    <id column="role_id" property="role_id" jdbcType="INTEGER" />
    <result column="role_name" property="role_name" jdbcType="VARCHAR" />
    <result column="role_desc" property="role_desc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    role_id, role_name, role_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from base_roles
    where role_id = #{role_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from base_roles
    where role_id = #{role_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tom.demo.model.Role" >
    insert into base_roles (role_id, role_name, role_desc
      )
    values (#{role_id,jdbcType=INTEGER}, #{role_name,jdbcType=VARCHAR}, #{role_desc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tom.demo.model.Role" >
    insert into base_roles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="role_id != null" >
        role_id,
      </if>
      <if test="role_name != null" >
        role_name,
      </if>
      <if test="role_desc != null" >
        role_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="role_id != null" >
        #{role_id,jdbcType=INTEGER},
      </if>
      <if test="role_name != null" >
        #{role_name,jdbcType=VARCHAR},
      </if>
      <if test="role_desc != null" >
        #{role_desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tom.demo.model.Role" >
    update base_roles
    <set >
      <if test="role_name != null" >
        role_name = #{role_name,jdbcType=VARCHAR},
      </if>
      <if test="role_desc != null" >
        role_desc = #{role_desc,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{role_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tom.demo.model.Role" >
    update base_roles
    set role_name = #{role_name,jdbcType=VARCHAR},
      role_desc = #{role_desc,jdbcType=VARCHAR}
    where role_id = #{role_id,jdbcType=INTEGER}
  </update>
</mapper>